$color1: red;
$color2: #fefefe;
$color3: black;
$color4: orange;
$color5: blue;
$color6: green;

.red{
    color:$color1;
  }
   
  .white{
    color: $color2;
  }
  .black{
    color: $color3;
  }
   
  .orange{
    color: $color4;
  }
  .blue{
    color: $color5;
  }
  .green{
    color: $color6;
  }